PIC_WTC					BITMAP "wtc.bmp"
PIC_FAR					BITMAP "far.bmp"
PIC_WS_FTP				BITMAP "ws_ftp.bmp"
PIC_CUTEFTP				BITMAP "cute_ftp.bmp"
PIC_FLASHFXP			BITMAP "flashfxp.bmp"
PIC_FZILLA				BITMAP "fzilla.bmp"
PIC_FTPCOMM				BITMAP "ftpcomm_small.bmp"
PIC_BPROOF				BITMAP "bproof.bmp"
PIC_SMARTFTP			BITMAP "smartftp.bmp"
PIC_TURBOFTP			BITMAP "turboftp.bmp"
PIC_FFFTP				BITMAP "ffftp.bmp"
PIC_COFFEE				BITMAP "coffeecup.bmp"
PIC_COREFTP				BITMAP "coreftp.bmp"
PIC_FTPEXPLORER			BITMAP "ftpexplorer.bmp"
PIC_FRIGATE3			BITMAP "frigate3.bmp"
PIC_SECUREFX			BITMAP "securefx.bmp"
PIC_ULTRAFXP			BITMAP "ultrafxp.bmp"
PIC_FTPRUSH				BITMAP "ftprush.bmp"
PIC_WEBSITEPUBLISHER	BITMAP "websitepublisher.bmp"
PIC_BITKINEX			BITMAP "bitkinex.bmp"
PIC_EXPANDRIVE			BITMAP "expandrive.bmp"
PIC_CLASSICFTP			BITMAP "classicftp.bmp"
PIC_FLING				BITMAP "fling.bmp"
PIC_SOFTX				BITMAP "softx.bmp"
PIC_DOPUS				BITMAP "dopus.bmp"
PIC_FTPUPLOADER			BITMAP "ftpuploader.bmp"
PIC_FREEFTP				BITMAP "freeftp.bmp"
PIC_LEAPFTP				BITMAP "leapftp.bmp"
PIC_WINSCP				BITMAP "winscp.bmp"
PIC_32BITFTP			BITMAP "32bit.bmp"
PIC_WEBDRIVE			BITMAP "webdrive.bmp"
PIC_FTPCONTROL			BITMAP "ftpcontrol.bmp"
PIC_NETDRIVE			BITMAP "netdrive.bmp"
PIC_OPERA				BITMAP "opera.bmp"
PIC_WISEFTP				BITMAP "wiseftp.bmp"
PIC_FTPVOYAGER			BITMAP "ftpvoyager.bmp"
PIC_FIREFOX				BITMAP "firefox.bmp"
PIC_FIREFTP				BITMAP "fireftp.bmp"
PIC_SEAMONKEY			BITMAP "seamonkey.bmp"
PIC_FLOCK				BITMAP "flock.bmp"
PIC_MOZILLA				BITMAP "mozilla.bmp"
PIC_LEECHFTP			BITMAP "leechftp.bmp"
PIC_ODIN				BITMAP "odin.bmp"
PIC_WINFTP				BITMAP "winftp.bmp"
PIC_FTP_SURFER			BITMAP "ftp_surfer.bmp"
PIC_FTPGETTER			BITMAP "ftpgetter.bmp"
PIC_ALFTP				BITMAP "alftp.bmp"
PIC_IE					BITMAP "ie.bmp"
PIC_DREAMWEAVER			BITMAP "dreamweaver.bmp"
PIC_DELUXEFTP			BITMAP "deluxeftp.bmp"
PIC_CHROME				BITMAP "chrome.bmp"
PIC_CHROMIUM			BITMAP "chromium.bmp"
PIC_CHROMEPLUS			BITMAP "chromeplus.bmp"
PIC_BROMIUM				BITMAP "bromium.bmp"
PIC_NICHROME			BITMAP "nichrome.bmp"
PIC_COMODODRAGON		BITMAP "comododragon.bmp"
PIC_ROCKMELT			BITMAP "rockmelt.bmp"
PIC_KMELEON				BITMAP "kmeleon.bmp"
PIC_EPIC				BITMAP "epic.bmp"
PIC_STAFF				BITMAP "staff.bmp"
PIC_ACEFTP				BITMAP "aceftp.bmp"
PIC_GLOBALDOWNLOADER	BITMAP "globaldownloader.bmp"
PIC_FRESHFTP			BITMAP "freshftp.bmp"
PIC_BLAZEFTP			BITMAP "blazeftp.bmp"
PIC_NETFILE				BITMAP "netfile.bmp"
PIC_GOFTP				BITMAP "goftp.bmp"
PIC_3DFTP				BITMAP "3dftp.bmp"
PIC_EASYFTP				BITMAP "easyftp.bmp"
PIC_XFTP				BITMAP "xftp.bmp"
PIC_RDP					BITMAP "rdp.bmp"
PIC_FTPNOW				BITMAP "ftpnow.bmp"
PIC_ROBOFTP				BITMAP "roboftp.bmp"
PIC_CERT				BITMAP "cert.bmp"
PIC_LINASFTP			BITMAP "linasftp.bmp"
PIC_CYBERDUCK			BITMAP "cyberduck.bmp"
PIC_PUTTY				BITMAP "putty.bmp"
PIC_NOTEPADPP			BITMAP "notepadpp.bmp"
PIC_VS_DESIGNER			BITMAP "vs_designer.bmp"
PIC_FTPSHELL			BITMAP "ftpshell.bmp"
PIC_FTPINFO				BITMAP "ftpinfo.bmp"
PIC_NEXUSFILE			BITMAP "nexusfile.bmp"
PIC_FS_BROWSER			BITMAP "fs_browser.bmp"
PIC_WINZIP				BITMAP "winzip.bmp"
PIC_YANDEXINTERNET		BITMAP "yandex_internet.bmp"
PIC_MYFTP				BITMAP "myftp.bmp"
PIC_SHERRODFTP			BITMAP "sherrodftp.bmp"
PIC_NOVAFTP				BITMAP "novaftp.bmp"
PIC_WINDOWS_MAIL		BITMAP "windows_mail.bmp"
PIC_WINDOWS_LIVE_MAIL	BITMAP "windows_live_mail.bmp"
PIC_BECKY				BITMAP "becky.bmp"
PIC_POCOMAIL			BITMAP "pocomail.bmp"
PIC_INCREDIMAIL			BITMAP "incredimail.bmp"
PIC_THEBAT				BITMAP "the_bat.bmp"
PIC_OUTLOOK				BITMAP "outlook.bmp"
PIC_THUNDERBIRD			BITMAP "thunderbird.bmp"
PIC_BITCOIN				BITMAP "bitcoin.bmp"
PIC_ELECTRUM			BITMAP "electrum.bmp"
PIC_MULTIBIT			BITMAP "multibit.bmp"
PIC_FTPDISK				BITMAP "ftpdisk.bmp"
PIC_LITECOIN			BITMAP "litecoin.bmp"
PIC_NAMECOIN			BITMAP "namecoin.bmp"
PIC_TERRACOIN			BITMAP "terracoin.bmp"
PIC_BITCOIN_ARMORY		BITMAP "bitcoin_armory.bmp"
PIC_PPCOIN				BITMAP "ppcoin.bmp"
PIC_PRIMECOIN			BITMAP "primecoin.bmp"
PIC_FEATHERCOIN			BITMAP "feathercoin.bmp"
PIC_NOVACOIN			BITMAP "novacoin.bmp"
PIC_FREICOIN			BITMAP "freicoin.bmp"
PIC_FRANKOCOIN			BITMAP "frankocoin.bmp"
PIC_DEVCOIN				BITMAP "devcoin.bmp"
PIC_PROTOSHARES			BITMAP "protoshares.bmp"
PIC_MEGACOIN			BITMAP "megacoin.bmp"
PIC_QUARKCOIN			BITMAP "quarkcoin.bmp"
PIC_WORLDCOIN			BITMAP "worldcoin.bmp"
PIC_INFINITECOIN		BITMAP "infinitecoin.bmp"
PIC_IXCOIN				BITMAP "ixcoin.bmp"
PIC_ANONCOIN			BITMAP "anoncoin.bmp"
PIC_BBQCOIN				BITMAP "bbqcoin.bmp"
PIC_DIGITALCOIN			BITMAP "digitalcoin.bmp"
PIC_MINCOIN				BITMAP "mincoin.bmp"
PIC_GOLDCOIN			BITMAP "goldcoin.bmp"
PIC_YACOIN				BITMAP "yacoin.bmp"
PIC_ZETACOIN			BITMAP "zetacoin.bmp"
PIC_FASTCOIN			BITMAP "fastcoin.bmp"
PIC_I0COIN				BITMAP "bitcoin.bmp"
PIC_TAGCOIN				BITMAP "tagcoin.bmp"
PIC_BYTECOIN			BITMAP "bytecoin.bmp"
PIC_FLORINCOIN			BITMAP "florincoin.bmp"
PIC_PHOENIXCOIN			BITMAP "phoenixcoin.bmp"
PIC_LUCKYCOIN			BITMAP "luckycoin.bmp"
PIC_CRAFTCOIN			BITMAP "craftcoin.bmp"
PIC_JUNKCOIN			BITMAP "bitcoin.bmp"
